body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
        color: #636869;
    }
a:focus-visible {
    outline: 2px solid  #636869;
}

header {
    background-color: #636869;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}