<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <header>
        <h1>Sobre a Nexus Tech</h1>
        <p>Somos uma empresa dedicada a fornecer soluções tecnológicas de qualidade para nossos clientes.</p>
    </header>
    <main>
        <section>
            <h2>Nossa missão</h2>
            <p>Proporcionar inovação e eficiência através de serviços de tecnologia da informação.</p>
        </section>
        <section>
            <h2>Nossa visão</h2>
            <p>Ser reconhecida como líder em soluções tecnológicas, promovendo o crescimento sustentável de nossos clientes.</p>
        </section>
        <section>
            <h2>Nossos valores</h2>
            <ul>
                <li>Compromisso com a qualidade</li>
                <li>Inovação constante</li>
                <li>Ética e transparência</li>
                <li>Foco no cliente</li>
            </ul>
        </section>
        <section>
            <h2>nossos Clientes</h2>
            <p>Desde o início, temos oferecido um serviço confiável aos nossos clientes.<br>
                Tivemos a honra de ser a empresa escolhida pelas seguintes corporações:</p>
            <p>Valorizamos os históricos, experiências e contribuições únicas que cada cliente traz para nossa comunidade e incentivamos e celebramos a diversidade.</p>  
        </section>
        <section>
            <nav>
                <ul>
                    <li><a href="../index.html">Início</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </section>
    </main>
</body>
</html>